.fondoBarra{
    width: 100%;
    height: 90px;
    margin-top: 5px;
    background-color:peru;
}
.barra{
    width: 90%;
    height: 40px;
    background-color: rgb(168, 183, 125);
    padding: 2px;
}
.men  li{
    display: inline;
    background-color:rgb(0, 0, 255, 0.6);
   
}
.men  li:hover{
    background-color: aqua;


}
.fondo{
    width: 100px;
    height: 30px;
    background-color: red;
}